cfgv==3.4.0 ; python_version >= "3.10" and python_version < "3.13"
coverage[toml]==7.6.10 ; python_version >= "3.10" and python_version < "3.13"
identify==2.6.6 ; python_version >= "3.10" and python_version < "3.13"
nodeenv==1.9.1 ; python_version >= "3.10" and python_version < "3.13"
pre-commit==2.21.0 ; python_version >= "3.10" and python_version < "3.13"
pytest-cov==3.0.0 ; python_version >= "3.10" and python_version < "3.13"
tomli==2.2.1 ; python_version >= "3.10" and python_full_version <= "3.11.0a6"
